.phonesContainer {
  background-image: url(../assets/images/bg-pattern-circles.svg),
    linear-gradient(
      to right,
      var(--body-start-gradient),
      var(--body-end-gradient)
    );
  background-position: -50% 80%, 0 0;
  background-repeat: no-repeat;
  /* background-size: 100%, auto;  */
  border-bottom-left-radius: var(--border-raduis);
  border-top-right-radius: var(--border-raduis);
  height: 410px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.imgWrapper {
  flex: 1.25;
  max-width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textWrapper {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-right: 8em;
  color: var(--white);
}

.textWrapper h1 {
  font-size: 2.5em;
  font-weight: var(--ubuntu-700);
  margin-bottom: 0.5em;
}

.textWrapper p {
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .phonesContainer {
    height: auto;
    padding-block: 8em 6em;
    display: grid;
    grid-template-rows: 0 1fr;
    place-content: center;
    place-items: center;
    gap: 4em;
    background-size: 150%, auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-block: 14em 4em;
    text-align: center;
    align-items: center;
    position: relative;
  }
  .imgWrapper {
    width: 400px;
    top: 0;
    transform: translate(0, -100px);
    margin-top: 0;
    margin-bottom: 1em;
    max-width: 90%;
    height: fit-content;
  }
  .textWrapper {
    flex: none;
    max-width: 100%;
    margin-block: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0%);
    padding-right: 0;
    padding-inline: 2em;
  }
  .textWrapper h1 {
    text-align: center;
    margin-bottom: 0.25em;
  }
  .textWrapper p {
    text-align: center;
    line-height: 1.7;
  }
}

@media (max-width: 380px) {
  .phonesContainer {
    background-position: 50% -1800%;
  }
}
